<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Netball_Calculation.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <Netball_Calculation.Properties.Settings>
            <setting name="homeSchoolName" serializeAs="String">
                <value>School1</value>
            </setting>
            <setting name="visitorSchoolName" serializeAs="String">
                <value>School2</value>
            </setting>
            <setting name="gender" serializeAs="String">
                <value>boys</value>
            </setting>
            <setting name="yearLevel" serializeAs="String">
                <value>y78</value>
            </setting>
            <setting name="homeGS" serializeAs="String">
                <value>Player1</value>
            </setting>
            <setting name="homeGA" serializeAs="String">
                <value>Player2</value>
            </setting>
            <setting name="visitorGS" serializeAs="String">
                <value>Player3</value>
            </setting>
            <setting name="visitorGA" serializeAs="String">
                <value>Player4</value>
            </setting>
        </Netball_Calculation.Properties.Settings>
    </userSettings>
</configuration>